@import url(/styles/variables.css);
.btn{
    padding: 5px;
    padding: 10px 10px;
    border-radius: 7px;
    border: solid 1px;
    background: var(--grad);
    text-decoration: none;
    transition: ease-in;
    color: var(--B1);
}

.btn:hover{
    background: var(--gradHover);
}