@import url(../variables.css);

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px; 
    padding: 20px;
    margin: 30px;

}

.card{
    background-color: var(--B1);
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    color:black;
}
