@import url(../variables.css);
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--V1);
    padding-top: 10px;
    min-width: 250px;
    height: 100vh;
    color: var(--B1);
}

.userNav{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10%;
    gap: 10px;
}
.userNav img{
    min-width: 50px;
    max-width: 90px;
    border-radius: 50%;
    border: solid 4px var(--V5);
}


/* NAV ----------------------*/
.side-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    transition: ease-in-out;
    text-decoration: none;
}
.side-nav a{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
.side-nav a:hover{
    background-color: var(--V4);
}

i{
    margin-right: 10px;
}

/* TOPBAR -------------------*/
.topbar {
    background: white;
    padding: 15px 25px;
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 3px solid var(--V5);
    width: 100%;
}
.top-right{
    display: flex;
    gap: 10px;
}

.top-right button {
    background: var(--grad);
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.top-right button:hover {
    background: var(--gradHover);
}

/* Main --------- */
.main{
    margin: 30px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 10px 15px var(--B1);
    padding: 10%;
    justify-content: center;
    background-color: white;
}


/* Texto final --------------*/
.copy{
    display: flex;
    padding-left: 10%;
    align-items: end;
    color: var(--V5);
}