@use 'variables';
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: variables.$V2;
    padding-top: 10px;
    min-width: 250px;
    height: 100vh;
    color: variables.$B1;
}

.userNav{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10%;
    gap: 10px;
    img{
        min-width: 50px;
        max-width: 90px;
        border-radius: 50%;
        border: solid 4px variables.$V5;
    }
}


/* NAV ----------------------*/
.side-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    transition: ease-in-out;
    text-decoration: none;

    a{
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        color: white;
        text-decoration: none;
        border-radius: 8px;
    }
    a:hover{
        background-color: variables.$V4;
    }
}

i{
    margin-right: 10px;
}

/* TOPBAR -------------------*/
.topbar {
    background: white;
    padding: 15px 25px;
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 3px solid variables.$V5;
    width: 100%;
}
.top-right{
    display: flex;
    gap: 10px;

    button {
        background: variables.$grad;
        color: white;
        border: none;
        padding: 8px 12px;
        margin-left: 10px;
        border-radius: 6px;
        cursor: pointer;
    }

    button:hover {
        background: variables.$gradHover;
    }
}

/* Main --------- */
.main{
    margin: 30px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 10px 15px variables.$B1;
    padding: 10%;
    justify-content: center;
    background-color: white;
}


/* Texto final --------------*/
.copy{
    display: flex;
    padding-left: 10%;
    align-items: end;
    color: variables.$V5;
}