
    $A3: #22303B;
    $A2: #175D8F;
    $A1: #0B82A3;
    $main: #008488;
    $V2: #13A190;
    $V3: #1EAD84;
    $V4: #52B498;
    $V5: #C1DAD5;
    $B1: #E9EFEE;

    /* Degradados*/
    $grad: linear-gradient(120deg, $V2 0%, $V4 100%);
    $gradHover: linear-gradient(120deg, $V3 0%, $V4 100%);
