header{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: aquamarine;
    
}

.perfilNav{
    display: flex;
    text-align: center;
    align-items: center;
}

.perfilNav img{
    width: 100px;
    border-radius: 50%;
}

.perfilNombre{
    text-align: left;
}