*{
    padding: 0;
    margin: 0;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: #f5fafa;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
}