*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: #e7f0f0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100%;
}

