@import "tailwindcss";

@import "./styles/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/components/layout.css";
@import "./styles/components/btn.css";
@import "./styles/components/nav.css";
@import "./styles/components/title.css";
