.info-basico{
    display: flex;
    gap: 20px;
    background: var(--grad);
    padding: 20px;
    border: 0;
    border-radius: 10px;
}

.icon{
    padding: 40px;
    background: var(--B1);
    border: solid 3px var(--V5);
    border-radius: 80px;
    justify-content: center;
    text-align: center;
}

.icon i{
    width: 100px;
    color: var(--main);
    width: 100%;
    font-size: 2rem;
}

.title{
    margin: 0;
    margin-bottom: 3px;
    color: var(--A3);
}

.info{
    display: flex;
}

.item{
    gap: 1px;
    display: flex;
    flex-direction: column;
    color: var(--V5);
    
}
.icons{
    color: var(--A3);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    margin-right: 5px;
    margin-left: 10px;
}

/* ---- Zona de abajo --------*/

.margin{
    margin-top: 8px;
}

.input{
    margin-top: 5px;
    margin-bottom: 15px;
}
