* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
    position: relative;
    background: var(--B1);
}

/* Sección superior */
.top-section {
    height: 50vh;
    background: var(--grad);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.top-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.top-section p {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Contenedor del login */
.login-container {
    position: absolute;
    /* Para superponerse */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Más alto que la sección superior */
    height: 300px;
    width: 100%;
    max-width: 400px;
}

/* Formulario */
.login-form {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.login-form h2 {
    color: var(--A3);
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--A3);
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid var(--V5);
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}

.login-form input:focus {
    border-color: var(--main);
}

.btn {
    display: block;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}