.info-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-top: 20px;
}

.info-item{
    background: var(--B1);
    border: solid 1px var(--V4);
    padding: 15px;
    border-radius: 8px;
}

.info-item span{
    font-weight: bold;
    color: var(--A3);
}
