@import url("../variables.css");

.textWelc{
    margin-bottom: 60px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
}

/* Botones */
.buttons a {
    display: block;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: var(--grad);
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.buttons a:hover {
    background: var(--gradHover);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.container{
      background: var(--B1);
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
    }